<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单修改</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/asserts/css/font.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/layui.css}">
    <script th:inline="javascript">
        var base = [[${#request.getContextPath()}]];
    </script>
    <style>
        #cate1 {
            display: block;
            width: 180px;
            height: 25px;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" th:action="@{/orderedit}" method="post" >
            <div class="layui-form-item">
                <label for="uname" class="layui-form-label">
                    <span class="x-red">*</span>收货人姓名</label>
                <div class="layui-input-inline">
                    <input type="text" id="uname" name="uname" required="" th:value="${order.uname}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="address" class="layui-form-label">
                    <span class="x-red">*</span>地址</label>
                <div class="layui-input-inline">
                    <input type="text" id="address" name="address" required="" th:value="${order.address}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">
                    <span class="x-red">*</span>收货人电话</label>
                <div class="layui-input-inline">
                    <input type="phone" id="phone" name="phone" required="" th:value="${order.phone}" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="cate1" class="layui-form-label">
                    <span class="x-red">*</span>订单状态</label>
                <div class="layui-input-inline">
                    <select id="cate1" name="cateId" class="valid" th:value="${#dic.getDictValue('order_status',order.cateId)}">
                        <!--                         <option th:each="cate,status:${#dic.getDic1('order_status')}" th:value="${status.count}"
                                                         th:text="${cate.label}">
                                                 </option>-->
                        <option value="1">待付款</option>
                        <option value="2">待发货</option>
                        <option value="3">待收货</option>
                        <option value="4">已收货</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label  class="layui-form-label"></label>
                <button id="edit"  class="layui-btn" lay-filter="edit" lay-submit="">确认修改</button>
            </div>

        </form>
    </div>
</div>
<script>
    $("#edit").click(function () {
        $.post(base+"/orderedit",{
            uname:$("#uname").val(),
            address:$("#address").val(),
            phone:$("#address").val(),
            cate1:$("#cate1").val(),

        },function (data) {
            alert("111111111")
            if (data=="1"){
                layer.msg('修改成功', {icon: 1});
                location.replace(location.href);
            }

        });

    })
</script>

</body>

</html>