<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- set the encoding of your site -->
  <meta charset="utf-8">
  <!-- set the viewport width and initial-scale on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>物流信息</title>
  <!-- include the site stylesheet -->
    <div th:include="aashare::look"></div>
</head>
<body>
  <!-- main container of all the page elements -->
  <div id="wrapper">
    <!-- Page Loader -->
      <div id="pre-loader" class="loader-container">
          <div class="loader">
              <img th:src="@{asserts/images/svg/rings.svg}" alt="loader">
          </div>
      </div>
    <div class="w1">
        <header  class="style14" id="mt-header" th:include="aashare::tou"></header>
      <!-- Main of the Page -->
      <main id="mt-main">
        <!-- Mt Content Banner of the Page -->
        <section class="mt-contact-banner" style="background-image: url(images/1.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 text-center">
               
                <nav class="breadcrumbs">
                  <ul class="list-unstyled">
                   
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Content Banner of the Page end -->
        <!-- Mt About Section of the Page -->
        <section class="mt-about-sec" style="padding-bottom: 0;">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="txt">
                  <h2>跟踪你的订单?</h2>
                  <p>如果想查看物流信息,请在这里输入您的运单号!</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt About Section of the Page -->
        <!-- Mt Detail Section of the Page -->
        <section class="mt-detail-sec toppadding-zero">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-push-2">
                <div class="holder" style="margin: 0px;">
                  <h2>查看物流信息</h2>
                  <!-- Bill Detail of the Page -->
                  <form action="#" class="bill-detail" style="width: 100%;">
                    <fieldset>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="订单编号">
                      </div>
                      <a href="#" class="process-btn">确认跟踪</a>
                    </fieldset>
                  </form>
                  <!-- Bill Detail of the Page end -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Mt Detail Section of the Page end -->
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <!-- banner frame start here -->
              <div class="banner-frame toppadding-zero">
                <!-- banner 5 white start here -->
                <div class="banner-5 white wow fadeInLeft" data-wow-delay="0.4s">
                  <img src="http://placehold.it/590x565" alt="image description" width="590" height="565">
                  <div class="holder">
                    <div class="texts">
                      <span class="price-add">$ 999.00</span>
                    </div>
                  </div>
                </div><!-- banner 5 white end here -->
                <div class="banner-6 white wow fadeInRight" data-wow-delay="0.4s">
                  <img src="http://placehold.it/275x565" alt="image description" width="275" height="565">
                  <div class="holder">
                    <strong class="sub-title">SOFAS &amp; ARMCHAIRS</strong>
                    <h3>3 Seater Leather Sofa</h3>
                    <span class="offer">
                      <span class="price-less">$ 659.00</span>
                      <span class="prices">$ 499.00</span>
                    </span>
                    <a href="product-detail.html" class="btn-shop">
                      <span>shop now</span>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </div><!-- banner 5 white end here -->
                <!-- banner box two start here -->
                <div class="banner-box two">
                  <!-- banner 7 right start here -->
                  <div class="banner-7 right wow fadeInUp" data-wow-delay="0.4s">
                    <img src="images/4.jpg" alt="image description" width="295px" height="275px">
                    <div class="holder">
                      <h2><strong>ACRYLIC FABRIC <br>BEAN BAG</strong></h2>
                      <ul class="mt-stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                      </ul>
                      <div class="price-tag">
                        <span class="price">$ 99.00</span>
                        <a class="shop-now" href="product-detail.html">SHOP NOW</a>
                      </div>
                    </div>
                  </div><!-- banner 7 right end here -->
                  <!-- banner 8 start here -->
                  <div class="banner-8 wow fadeInDown" data-wow-delay="0.4s">
                    <img src="http://placehold.it/295x275" alt="image description" width="295px" height="275px">
                    <div class="holder">
                      <h2><strong>CHAIR WITH <br>ARMRESTS</strong></h2>
                      <ul class="mt-stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                      </ul>
                      <div class="price-tag">
                        <span class="price-off">$ 129.00</span>
                        <span class="price">$ 99.00</span>
                        <a class="btn-shop" href="product-detail.html">
                          <span>HURRY UP!</span> 
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </div>
                  </div><!-- banner 8 start here -->
                </div>
              </div><!-- banner frame end here -->
            </div>
          </div>
        </div>
        <!-- Mt Workspace Section of the Page -->
        <section class="mt-workspace-sec wow fadeInUp" data-wow-delay="0.4s">
          <div class="container">
            <div class="row paddingtop-md">
              <div class="col-xs-12">
                <h2>我们的工作空间</h2>
              </div>
            </div>
          </div>
          <!-- Work Slider of the Page -->
          <ul class="list-unstyled work-slider">
            <li>
              <div class="img-holder">
                <img src="http://placehold.it/545x545" alt="image description" width="545" height="545">
              </div>
              <div class="img-holder">
                <div class="coll1">
                  <img src="http://placehold.it/245x310" alt="image description" width="245" height="310">
                </div>
                <div class="coll2">
                  <img src="http://placehold.it/385x310" alt="image description" width="385" height="310">
                </div>
                <div class="coll3">
                  <img src="http://placehold.it/640x220" alt="image description" width="640" height="220">
                </div>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img src="http://placehold.it/545x545" alt="image description" width="545" height="545">
              </div>
              <div class="img-holder">
                <div class="coll1">
                  <img src="http://placehold.it/245x310" alt="image description" width="245" height="310">
                </div>
                <div class="coll2">
                  <img src="http://placehold.it/385x310" alt="image description" width="385" height="310">
                </div>
                <div class="coll3">
                  <img src="http://placehold.it/640x220" alt="image description" width="640" height="220">
                </div>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img src="http://placehold.it/545x545" alt="image description" width="545" height="545">
              </div>
              <div class="img-holder">
                <div class="coll1">
                  <img src="http://placehold.it/245x310" alt="image description" width="245" height="310">
                </div>
                <div class="coll2">
                  <img src="http://placehold.it/385x310" alt="image description" width="385" height="310">
                </div>
                <div class="coll3">
                  <img src="http://placehold.it/640x220" alt="image description"  width="640" height="220">
                </div>
              </div>
            </li>
          </ul>
          <!-- Work Slider of the Page end -->
        </section>
        <!-- Mt Workspace Section of the Page -->
      </main><!-- Main of the Page end -->
      <!-- footer of the Page -->
        <footer id="mt-footer" class="style1 wow fadeInUp" data-wow-delay="0.4s" th:include="aashare::wei" ></footer>
    </div>
    <span id="back-top" class="fa fa-arrow-up"></span>
  </div>
  <!-- include jQuery -->
  <div th:include="aashare::foots"></div>
</body>
</html>