<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <!-- set the viewport width and initial-scale on mobile devices -->
    <title>注册</title>
    <div th:include="aashare::look"></div>
    <style type='text/css'>
        #code{
            font-family:Arial,宋体;
            font-style:italic;
            color:green;
            border:0;
            padding:2px 3px;
            letter-spacing:3px;
            font-weight:bolder;
        }
    </style>
</head>
<body>
<!-- main container of all the page elements -->
<div id="wrapper">
    <!-- Page Loader -->
    <div id="pre-loader" class="loader-container">
        <div class="loader">
            <img th:src="@{asserts/images/svg/rings.svg}" alt="loader">
        </div>
    </div>
    <div class="w1">
        <!-- mt header style4 start here -->
        <header class="style14" id="mt-header" th:include="aashare::tou"></header>
        <!-- mt search popup start here -->

        <!-- Main of the Page -->
        <main id="mt-main" style="background-image: url(/furniture/asserts/images/s.jpg);">
            <!-- Mt Content Banner of the Page -->
            <section class="mt-contact-banner" >
            </section>
            <br/>
            <section class="mt-detail-sec toppadding-zero">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-push-1">
                            <div class="holder" style="margin: 0;background-color: blanchedalmond;">
                                <div class="mt-side-widget">
                                    <header>
                                        <h2 style="margin: 0 0 5px;">注册</h2>
                                        <p>没有帐户？</p>
                                    </header>
                                    <form style="margin: 0 0 80px;">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="col-xs-6 col-sm-12" id="mobile_prompt"></div>
                                                <input type="text" placeholder="手机号" class="input" id="phone-id"  onblur="checkMobile()" name="phone">
                                            </div>
                                           <!-- <div class="col-xs-12 col-sm-12">
                                                <div class="col-xs-6 col-sm-12" id="user_prompt"></div>
                                                <input type="text" placeholder="以字母开头,字母和数字组成的4-16位，" class="input" id="uname-id" onblur="checkUser()" name="uname">
                                            </div>-->
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="col-xs-6 col-sm-12" id="pwd_prompt"></div>
                                                <input type="password" placeholder="密码" class="input"id="password-id" onblur="checkPwd()" name="password">
                                            </div>
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="col-xs-6 col-sm-12" id="repwd_prompt" ></div>
                                                <input type="password" placeholder="确认密码" class="input"  id="repwd" onblur="checkRepwd()" >
                                            </div>

                                            <div class="col-xs-12 col-sm-6">
                                                <div class="col-xs-6 col-sm-12" id="yzm"></div>
                                                <input type="text" placeholder="验证码" class="input" id="ver"  onblur="checkMobile()" name="phone">
                                                <div class="col-xs-6 col-sm-6" ></div>
                                                <input type="button" onclick="fasong()" th:value="发送验证码"/>
                                            </div>
                                        </div>
                                        <div class="box">
                                            <a th:href="@{/gem/login}" class="help">登录</a>
                                        </div>
                                        <div>
                                            <input id="registerBtn"   type="button" class="btn-type1" value="注册">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main><!-- Main of the Page end -->
        <!-- footer of the Page -->
    </div>
    <span id="back-top" class="fa fa-arrow-up"></span>
</div>
<!-- include jQuery -->

<script th:src="@{/asserts/js/jquery.js}"></script>
<!-- include jQuery -->
<script th:src="@{/asserts/js/plugins.js}"></script>
<!-- include jQuery -->
<script th:src="@{/asserts/js/jquery.main.js}"></script>

<script th:src="@{/asserts/js/verify.js}"></script>
</body>
</html>